<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" type="text/css" href="x01-score-input.css">

	<title>Darts101 score input</title>
</head>
<body>

	<form id="dartsScoreInput" class="score-input-container" action="" method="post">
		<fieldset>
			<label class="score-input-score-label btn-size-2of3" for="scoreInputDisplay">Score:</label>
			<input class="score-input-score btn-size-1of3" name="scoreInputDisplay" type="text" min="0" max="180"></input>
		</fieldset>
		<fieldset name="scoreInputValues">
			<button class="score-input-button btn-size-1of3 btn-color-black" type="button">1</button>
			<button class="score-input-button btn-size-1of3 btn-color-black" type="button">2</button>
			<button class="score-input-button btn-size-1of3 btn-color-black" type="button">3</button>
			<button class="score-input-button btn-size-1of3 btn-color-black" type="button">4</button>
			<button class="score-input-button btn-size-1of3 btn-color-black" type="button">5</button>
			<button class="score-input-button btn-size-1of3 btn-color-black" type="button">6</button>
			<button class="score-input-button btn-size-1of3 btn-color-black" type="button">7</button>
			<button class="score-input-button btn-size-1of3 btn-color-black" type="button">8</button>
			<button class="score-input-button btn-size-1of3 btn-color-black" type="button">9</button>
			<button class="score-input-button btn-size-1of1 btn-color-black" type="button">0</button>
		</fieldset>
		<fieldset name="scoreInputControl">
			<button class="score-input-button btn-size-1of2 btn-color-red" type="reset">Clear</button>
			<button class="score-input-button btn-size-1of2 btn-color-green" type="submit">Score</button>
		</fieldset>
	</form>
	
	<script src="x01-score-input.js"></script>
</body>
</html>