@charset 'utf-8';

html,
body {
	margin:0;
	padding: 0;
	font-family: sans-serif;
}

fieldset {
	margin: 0;
	padding: 0;
	border: 0;

	transition-style: preserve-3d;
}

.score-input-container {
	margin: 0;
	padding: 0;
	width: 100%;
	max-width: 20em;
}

.score-input-score-label {
	box-sizing: border-box;
	display: block;
	float: left;
	margin: 0;
	padding: .25em;
	
	font-size: 2em;
	text-align: right;	
}

.score-input-score {
	box-sizing: border-box;
	display: block;
	float: left;
	margin: 0;
	padding: .25em;
	padding-right: 0;
	
	font-size: 2em;
	text-align: center;

	border-width: 0;

	outline: 0;
}
.score-input-button {
	display: block;
	float: left;
	margin: 0;
	padding: 1em .5em;

	font-size: 1.25em;

	border-style: solid;
	border-top-width: 1px;
	border-left-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 3px;

	outline: 0;
	cursor: pointer;

	transition: all 1s ease;
}
.score-input-button:hover {
	transition-duration: .3s;
}

.btn-size-1of1 {
	width: 100%;
}
.btn-size-1of2 {
	width: 50%;
}
.btn-size-1of3 {
	width: 33.33%;
}
.btn-size-2of3 {
	width: 66.66%;
}
.btn-color-green {
	color: #030;
	background-color: #0c0;
	border-top-color: #141;
	border-left-color: #141;
	border-right-color: #030;
	border-bottom-color: #030;
}
.btn-color-green:hover,
.btn-color-green:focus {
	background-color: #2e2;
	border-color: #252;
}

.btn-color-red {
	color: #300;
	background-color: #c00;
	border-top-color: #411;
	border-left-color: #411;
	border-right-color: #300;
	border-bottom-color: #300;
}
.btn-color-red:hover,
.btn-color-red:focus {
	background-color: #e22;
	border-color: #522;
}

.btn-color-black {
	color: #fff;
	background-color: #333;
	border-top-color: #444;
	border-left-color: #444;
	border-right-color: #000;
	border-bottom-color: #000;
}
.btn-color-black:hover,
.btn-color-black:focus {
	background-color: #444;
	border-color: #222;
}

.fb-true,
.fb-false {
	transition-duration: .3s;
}
.fb-true {
	color: #030 !important;
	background-color: #0c0 !important;
	border-color: #030 !important;
}
.fb-false {
	color: #300 !important;
	background-color: #c00 !important;
	border-color: #300 !important;
}
